@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

@font-face {
  font-family: saman;
  src: url(../../fonts/SAMAN___.TTF);
}
.MuiAppBar-root {
  /* your styles */
  height: 0px !important;
}
.logoName {
  font-family: saman !important;
  color: #1565c0;
  font-size: 26px !important;
  font-weight: 400 ;
}

.name{
  font-family: 'Inter', sans-serif !important;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

.nav-link{
  text-decoration: none;
  color: inherit;
  &:hover{
    color: #231557 !important;
    
  }
  position: relative;
  &:hover::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 7px !important;
    height: 7px !important;
    border-radius: 50%;
    background-color: #1565c0;
    animation: circle-expand 0.3s linear forwards;
  }

  @keyframes circle-expand {
    0% {
      opacity: 0;
      width: 10px;
      height: 10px;
    }
    100% {
      opacity: 1;
      width: 20px;
      height: 20px;
    }
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}